# Virtual environments
venv/
.venv/
env/

# Python bytecode/cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Logs and debug output
*.log

# VS Code settings
.vscode/

# OS/system files
.DS_Store
Thumbs.db

# Databases
*.sqlite3

# Others you may want to consider
*.db
*.bak
*.swp

redis/